<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id"> /*useGeneratedKeys="true" 表示自动获取该数据到数据库的主键值 keyProperty="id" 表示把返回的主键值赋给setMeal的id属性*/
        insert into sky_take_out.setmeal
        (category_id, name, price, description, image, create_time, update_time, create_user, update_user)
        values
        (#{categoryId}, #{name}, #{price}, #{description}, #{image}, #{createTime}, #{updateTime},
         #{createUser}, #{updateUser})
    </insert>

</mapper>
